#all-tasks {
    height: 100%;
    .header {
        background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg") center center;
        background-repeat: no-repeat;
        color: $white;
        width: 100%;
        background-size: cover;
        .top {
            position: relative;
            background: rgba(58, 71 , 147, .6);
            padding: 50px 15px;
            text-align: right;
            .logo {
                font-family: 'Megrim', cursive;
                font-size: 36px;
                float: left;
            }
        }
        
        .tasks-total {
        position: relative;
            top: -20px;

            .task {
            display: inline-block;
                .number {
                    color: $lightPurple;
                    font-weight: 100;
                    font-size: 60px;
                    margin: 0 10px 0 0;
                    position: relative;
                    top: 15px;
                }
            }
        }
        .add-circle {
            // z-index: 10;
            background: #EDEDED;
            border-radius: 50%;
            position: absolute;
            top: 125px;
            right: 25px;
            padding: 10px 14px;
            .fa {
                color: $lightBlue;
                font-size: 50px;
            }
        }
    }
    .content-area {
        color: red;
        height: 88%;
        width: 100%;
        overflow: auto;
        
        .tasks-container {
            margin: 40px 0;
            .task-box {
                padding: 20px;
                border-bottom: 2px solid #d1d1d1;
                background: white;
                margin: 20px 0 20px 0;
                position: relative;
                .title {
                    color: black;
                    font-size: 24px;
                    margin: 0 0 15px 0;
                }
                .date {
                    color: #ababab;
                    font-size: 14px;
                }
                .check-box {
                    padding: 5px;
                    border-radius: 10px;
                    border: 3px solid $darkBlue;
                    color: $darkBlue;
                    display: inline-block;
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    font-size: 32px;
                }
            }
        }
    }
    .task-form {
        background: $darkBlue;
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        width: 100%;
        color: $white;
        padding: 50px 0;
        transform: translate(0, 100%);
        transition: all .6s ease-in-out;

        &.active {
            display: block;
            transform: translate(0, 0);
            
        }
        .close-btn {
            position: absolute;
            right: 35px;
            top: 35zpx;
            cursor: pointer;
            padding: 15px;
            .fa {
                font-size: 36px;
            }
        }
        form {
            display: block;
            max-width: 500px;
            margin: 0 auto;
            padding: 15px;
        }
        h3 {
            margin: 50px 0;
            font-size: 36px;
            text-align: center;
            font-weight: 100;

        }
        label {
            // font-family: "Roboto", cursive;
            font-weight: 300;
            font-size: 24px;
            display: block;
            text-transform: capitalize;
            margin: 0 0 15px 0;
        }
        .form-group {
            margin-bottom: 20px;
        }
        input[type="text"], textarea {
            width: 100%;
            background: rgba(255,255,255, .05);
            border: 0;
            border-bottom: 1px solid rgba(255,255,255, .7);
            font-weight: 300;
            font-size: 36px;
            color: white;
            &:focus {
                border: none;
                outline: none;
            }
        }
        textarea {
            height: 250px;;
        }
        button {
            background: $lightBlue;
            padding: 15px 20px;
            width: 100%;
            border: none;
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.container {
    display: block;
    width: 100%;
    max-width: 1200px;;
    margin: 0 auto;
    padding: 0 15px;

}


//laptops
@media screen and (min-width: 1200px) {
    #all-tasks {
            background-color: blue;
        }
    }

//tablets
@media screen and (max-width: 1199px) {
    #all-tasks {
            // background-color: red;
        }
    }

//phones
@media screen and (max-width: 767px) {
        #all-tasks {
            .header {
                .add-circle {
                    top:111px; 
                }
                .top {
                    .tasks-total {
                        top: 0;
                        .task {
                            .number {
                                color: #9787EE;
                                font-weight: 500;
                                font-size: 24px;
                                margin: 0 10px 0 0;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
            }
            .content-area {
                height: 82%;
            }
        }
    }

//extra small phones
    @media screen and (max-width: 353px) {
        #all-tasks {
            .header {
                .add-circle {
                    top:140px; 
                }
                .top {
                    .logo {
                        float: none;
                        text-align: center;
                        margin: 0 0 15px 0;

                    }
                    .tasks-total {
                        text-align: center;
                        top: 0;
                        .task {
                            display: inline-block;
                            .number {
                                color: #9787EE;
                                font-weight: 500;
                                font-size: 24px;
                                margin: 0 10px 0 0;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
            }
            .content-area {
                height: 72%;
            }

            .task-form {
                top: -50px;
            }
        }
    }
