#all-tasks {
    .header {
        background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg") center center;
        background-repeat: no-repeat;
        color: $white;
        width: 100%;
        background-size: cover;
        .top {
            background: rgba(58, 71 , 147, .6);
            padding: 50px 15px;
            text-align: right;
            .logo {
                font-family: 'Megrim', cursive;
                font-size: 36px;
                float: left;
            }
        }
        
        .tasks-total {
        position: relative;
            top: -20px;

            .task {
            display: inline-block;
                .number {
                    color: $lightPurple;
                    font-weight: 100;
                    font-size: 60px;
                    margin: 0 10px 0 0;
                    position: relative;
                    top: 15px;
                }
            }
        }
        .add-circle {
            background: black;
            border-radius: 50%;
            position: absolute;
            top: 125px;
            right: 25px;
            padding: 10px 14px;
            .fa {
                color: $lightBlue;
                font-size: 50px;
            }
        }
    }
    .content-area {
        color: red;
        width: 100%;
        .tasks-container {
            margin: 40px 0;
            .task-box {
                padding: 20px;
                border-bottom: 2px solid #d1d1d1;
                background: white;
                margin: 20px 0 20px 0;
                position: relative;
                .title {
                    color: black;
                    font-size: 24px;
                    margin: 0 0 15px 0;
                }
                .date {
                    color: #ababab;
                    font-size: 14px;
                }
                .check-box {
                    padding: 5px;
                    border-radius: 10px;
                    border: 3px solid $darkBlue;
                    color: $darkBlue;
                    display: inline-block;
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    font-size: 32px;
                }
            }
        }
    }
}

.container {
    display: block;
    width: 100%;
    max-width: 1200px;;
    margin: 0 auto;
}