#all-tasks {
    .header {
        background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg") center center;
        background-repeat: no-repeat;
        color: $white;
        width: 100%;
        background-size: cover;
        .top {
            background: rgba(58, 71 , 147, .6);
            padding: 50px 15px;
            text-align: right;
            .logo {
                font-family: 'Megrim', cursive;
                font-size: 36px;
                float: left;
            }
        }
        
        .tasks-total {
        position: relative;
            top: -20px;

            .task {
            display: inline-block;
                .number {
                    color: $lightPurple;
                    font-weight: 100;
                    font-size: 60px;
                    margin: 0 10px 0 0;
                    position: relative;
                    top: 15px;
                }
            }
        }
        .add-circle {
            background: black;
            border-radius: 50%;
            position: absolute;
            top: 125px;
            right: 25px;
            padding: 10px 14px;
            .fa {
                color: $lightBlue;
                font-size: 50px;
            }
        }
    }
    .content-area {
        color: red;
    }
}

.container {
    display: block;
    width: 100%;
    max-width: 1200px;;
    margin: 0 auto;
    background: blue;
}