@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

$white : #fff;
$darkBlue: #3A4793;
$lightBlue: #25B3EC;
$lightPurple: #9787EE;
$yellow: #FFBF3E;

* {
  box-sizing: border-box;
  color: $white;
}

html, body {
  background: $white;
  height: 100%;
  font-family: 'Roboto';
}

#home {
  background: url("https://static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg") center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  background: rgba(0, 0 , 0, .6);
  padding: 40px 15px;
  text-align: center;
  h1 {
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    color: $white;
  }
}

.btn {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 15px 0;
  &.lightBlue {
    font-size: 25px;
    background: $lightBlue;
  }
}

