@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

$white: #fff;
$darkBlue: #3A4793;
$lightBlue: #25B3EC;
$lightPurple: #9787EE;
$yellow: #FFBF3E;

* {
  box-sizing: border-box;
}

div {
  border: 1px dotted red;
}

html, body {
  // background: $white;
  height: 100%;
  font-family: 'Roboto';
}

@import "home";
@import "all-tasks";








